<mat-toolbar>
    <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="secciones">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #secciones="matMenu">
      <button mat-menu-item routerLink="/inicio">Inicio</button>
      <button mat-menu-item [matMenuTriggerFor]="producto">Generos</button>
    </mat-menu>

    <span>Peliii</span>
    <button id="menuInicio" mat-button routerLink="/inicio">Inicio</button>

    <!-- Menu desplegable: SECCIÓN DE PRODUCTOS -->
    <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">Generos</button>
    <mat-menu #producto="matMenu">
        <button mat-menu-item routerLink="/terror">Terror</button>
        <button mat-menu-item routerLink="/animacion">Animacion</button>
        <button mat-menu-item routerLink="/drama">Drama</button>
        <button mat-menu-item routerLink="/comedia">Comedia</button>
    </mat-menu>

    <span class="example-spacer"></span>

    <!-- Manejo del inicio (registro e inicio de sesion) y del cerrar sesion -->
    <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item *ngIf="logueado" (click)="iniciar()" routerLink="/registro">Registrarse</button>
        <button mat-menu-item *ngIf="logueado" (click)="iniciar()" routerLink="/inicio-sesion">Iniciar sesión</button>
        <button mat-menu-item *ngIf="deslogueado" (click)="cerrarSesion()">Cerrar sesion</button>
    </mat-menu>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <!-- Label para modo oscuro -->
    <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
    <input type="checkbox" id="toggle" (click)="cambiarFondo()">
</mat-toolbar>