<div class="container">
    <div class="row">
        <h1>Inicia Sesión</h1>
        
        <i class="material-icons" style="font-size: 200px;">person</i>
        
        <!-- Campo de entrada para el email -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su email:</mat-label>
            <!-- ngModel enlaza el campo de entrada con el modelo usuarioIngresado.email -->
            <input [(ngModel)]="usuarioIngresado.email" matInput placeholder="Ej: lurde@gmail.com" required>
        </mat-form-field>
        
        <!-- Campo de entrada para la contraseña -->
        <mat-form-field>
            <mat-label>Ingrese su contraseña:</mat-label>
            <!-- ngModel enlaza el campo de entrada con el modelo usuarioIngresado.password -->
            <input [(ngModel)]="usuarioIngresado.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <!-- Botón para mostrar/ocultar la contraseña -->
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- Indicador de la longitud mínima de la contraseña -->
            <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
        </mat-form
